:root
{
    --color-active:#2196F3;
    --coolor-white:white;
    --coolor-black:black;
    --color-primary:#212121;
    --color-secondary:#757575;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--color-primary);
}
*{
    text-decoration:none;
}
.list{
    list-style-type: none;
}
/* ============================LOGO============================== */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.logo-color-primary{
    color: var(--coolor-black);
}
.logo-color-secondary{
    color: var(--coolor-white);
}
.logo-color-forward{
    color: var(--color-active);
}
/* ============================/LOGO============================= */
/* ============================FOOTE============================= */
/* .section-adress-item{
    color: var(--coolor-white);
}
.section-footer-link{
    color: rgba(255, 255, 255, 0.6);
} */
 .section-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* background-color: var(--color-secondary); */
}
/* ===========================/FOOTE============================= */
/* =========================NAV AND LINKS========================= */
.header-menu{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-list-link-current{
    color: var(--color-active);
}
.nav-links{
    color: var(--color-primary);
}
.list-links{
    color: var(--color-secondary);
}
.link:hover,
.link:focus{
    color: var(--color-active);
}
/* ========================/NAV AND LINKS======================== */

/* FOR HOME PAGE================================================= */
/* ============================HERO============================== */
.section-hero
{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: var(--coolor-white); */
}
.section-hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color: var(--coolor-white); */
}
/* ===========================/HERO============================== */
/* ==========================FEATURES============================ */
.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* color: var(--color-primary);  */
}
.features-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--color-secondary);
}
/* =========================/FEATURES============================ */
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    /* color: var(--color-primary); */
}
/* ============================TEAMS============================= */
.section-teams{
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.team-title{
    font-weight: 500;
    /* color: var(--color-primary); */
}
.team-description{
    font-weight: 400;
    color:var(--color-secondary);
}
/* ===========================/TEAMS============================= */


/* FOR POORTFOLIO PAGE=========================================== */
/* ===========================FILTTER============================ */
.filter-button-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;  
    cursor: pointer;
    color: var(--color-primary)
}
/* ===========================/FILTER============================ */
/* ===========================PROJECTS=========================== */
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    /* color: var(--color-primary); */
}
.project-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}
/* ==========================/PROJECTS=========================== */
/* .inline-text>li{
    display: inline-block;
} */